<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
 <h1 class="login">Bienvenido Usuario Inicia Sesion</h1>
<div id="login">

	<form class="login_form" action="/login" method="post">

			<label for="admin">Usuario</label>
			<input type="text" name="admin" required="required">
	
			<label for="password">Contraseña</label>
			<input type="text" name="password" required="required">
	
			<input type="submit" name="enviar" value="Login" id='iniciar'>	
	<div>usuario: gato</div>
	<div>contraseña: gato</div>
	<div>usuario y contraseña simples XD</div>
	</form>
</div>
</body>
</html>



