<style type="text/css">
	body{

		background-image:url(fondo3.png);;
		background-attachment: fixed;
		background:cover;
	}
</style>
<body>

<h1 style='margin-left:25%;line-height:450px'>Error! Datos ingresados incorrectos (-_-)</h1>
</body>